---
import "../styles/global.css";
import SEO from "../components/SEO.astro";

const {
  title,
  description,
  image,
  canonical,
  datePublished,
  dateModified,
  author,
  type,
} = Astro.props;
---

<!doctype html>
<html lang="de" class="bg-[#201D1F] text-[#F4F4F4]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" />
    
    <SEO
      title={title}
      description={description}
      image={image}
      canonical={canonical}
      datePublished={datePublished}
      dateModified={dateModified}
      author={author}
      type={type}
    />
  </head>
  <body class="font-sans">
    <slot />
  </body>
</html>
